@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

textarea:focus,
input:focus,
a:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

textarea {
  resize: none;
}

.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* 왼쪽 패널 */
.left-wrapper {
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #e8e8e8;
  overflow-y: auto;
}

.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header span {
  font-size: 1.8rem;
  font-weight: bold;
}

.left-header #pageCreateButton {
  cursor: pointer;
  font-size: 1.2rem;
}

#notionList {
  margin-top: 1rem;
}

#notionList li {
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  color: #6a6a6a;
  border-radius: 5px;
  transition: background 0.2s;
}

#notionList li:hover {
  background-color: #cbcbcb;
  color: black;
}

#notionList li i {
  margin-right: 8px;
}

/* 오른쪽 패널 */
.right-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.right-header {
  height: 60px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.button-wrapper i {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 20px;
}

#historyBackButton {
  transform: scaleX(-1);
}

.right-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto;
}

#contentTitle {
  font-size: 2rem;
  font-weight: bold;
  border: none;
  padding: 1.5rem;
  width: 100%;
}

.contentBlock {
  font-size: 1.2rem;
  min-height: 20px;
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.contentBlock:focus {
  outline: none;
  border-bottom: 2px solid #4a90e2;
}
