@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(150, 74, 165);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  text-align: center;
}

.counter-container{
  margin: 30px 50px;
}

.counter{
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width:580px){
  .container{
    flex-direction: column;
  }
}